.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
first/.idea/first.iml
first/.idea/misc.xml
first/.idea/vcs.xml
first/.idea/modules.xml
first/.idea/workspace.xml
first/build.gradle.txt
first/build.gradle.txt
*.txt
first/build/distributions/first.tar
first/build/distributions/first.zip
first/build/scripts/first.bat
first/build/scripts/first
*.txt
test2/.idea/workspace.xml
test3/.idea/gradle.xml
test3/.idea/misc.xml
test2/.idea/workspace.xml
test3/.idea/vcs.xml
test2/.idea/workspace.xml
test2/.idea/workspace.xml
test2/.idea/misc.xml
test2/.idea/misc.xml
test2/.idea/misc.xml
test2/.idea/workspace.xml
practice3/.idea/misc.xml
test2/.idea/workspace.xml
